*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav,section,footer{
	padding: 30px;

}
nav{

	position: fixed;
	top: 0;
	height: 100%;
	width: 200px;

}

main{
	margin-left: 200px;
}

#banner{
	background: url(home.jpg);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	/*background:skyblue;*/
	height: 700px;
	position:relative;
	opacity: 0.75;
}

#about{
	background: url(about.jpg);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	/*background:indianred;*/
	height: 700px;
	opacity: 0.5;

}
#packages{
	background: url(about.jpg);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	/*background:midnightblue;*/
	height: 700px;
	opacity: 0.5;
	font-size: 15px;
}

#projects{
	background: url(about.jpg);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	/*background:midnightblue;*/
	height: 700px;
	opacity: 0.5;
}

#gallery{
	background: url(about.jpg);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	/*background:midnightblue;*/
	height: 700px;
	opacity: 0.5;
}

footer{
	background:green;
	height: 50px;
}

.logo{
	background:url(wed.jpg) center no-repeat;
 	background-size:200px;
	width: 100%;
	height: 140px;
	/*background:darkgrey;*/
	margin: auto;

}

ul{
	padding-left: 0;

}
a{
	border:1px solid red;
}
a:hover{
	background-color: crimson;
}


ul>li{
	list-style-type: none;
	line-height: 3em;
	border-bottom: 1px solid #fff;
	text-align: center;
}

.hero{
	border:5px solid white;
	width: 50%;
	padding: 40px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%,-50%);
}
h1{
	font-family: 'Dancing Script', cursive;
	font-size: 75px;
}
h2{
	font-size: 3em;
	color: white;
}

.price{
	background-color: white;
	height: 550px;
	width: 31%;
	margin: 20px 1.16%;
	float: left;
	font-size: 14px;
}

.gallery-pic{
	background-color: white;
	height: 550px;
	width: 45%;
	margin: 20px 1.16%;
	float: left;
	font-size: 14px;
}
small{
	color: white;

}
q{
	font-family: 'Dancing Script', cursive;
	font-size: 2em;
}
